NET "clk50mhz" LOC="B8"; 
Net "red_out[1]" LOC ="M8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "red_out[0]" LOC ="P8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "green_out[1]" LOC ="N6"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "green_out[0]" LOC ="P5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "blue_out[1]" LOC ="N9"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "blue_out[0]" LOC ="L8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "hsync" LOC ="N8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "vsync" LOC ="M6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
//Net "reset" LOC="C13" | IOSTANDARD = LVCMOS33;
//Net "izq" LOC="D12" | IOSTANDARD = LVCMOS33;
//Net "der" LOC="C12" | IOSTANDARD = LVCMOS33;
//Net "fire" LOC="C10" | IOSTANDARD = LVCMOS33;


Net "shouldFinish" LOC ="R13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[4]" LOC ="M16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[5]" LOC ="L14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[6]" LOC ="P15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[7]" LOC ="R15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[0]" LOC ="L15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[1]" LOC ="N16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[2]" LOC ="P16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "led[3]" LOC ="R16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

//Net "led[0]" LOC="C11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[1]" LOC="D11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[2]" LOC="B11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[3]" LOC="A12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[4]" LOC="A13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[5]" LOC="B13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[6]" LOC="A14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "led[7]" LOC="B14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
//Net "reload" LOC="J11" | IOSTANDARD = LVCMOS33;


Net "reset" LOC ="T13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "fire" LOC ="R11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "der" LOC ="T8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "izq" LOC ="P6"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "reload" LOC ="P14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

